<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audubon Miami Valley</title>

                            <!-- links the  stylesheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="static/styles/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section class="hero is-info is-fullheight" style="background-color:#336392;">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu is-flex">
                        <!-- THis calls the logo in the navbar-->
                        <figure class="image is-50x50">
  <a href="/"><img src="https://images.squarespace-cdn.com/content/v1/5eac143be8d3a17221435a4e/1592961176949-BJFIEZXL9DGFDX0DD7AA/ke17ZwdGBToddI8pDm48kDcawB7fnUK20VkHBqGKX5RZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7a3IG1vtna7BEUjBtarIuotWAzQL2J2nULP0oV-Zc4JqSDvdOK0wFzDujIbKntzJ0w/small_logo_tr.png?format=300w"> </a>
</figure>
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            <!--If user is logged in, the profile will show -->
                            {% if current_user.is_authenticated %}
                            <!--connects nav bar item {rofile to the profile in main.py -->
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <!--connects nav bar item Add New Entry to the entry in main.py -->
                            <a href="{{ url_for('main.entry') }}" class="navbar-item">
                                Add New Entry
                            </a>
                            <!--connects nav bar item Entry Histroy to the tables in main.py -->
                            <a href="{{ url_for('main.tables') }}" class="navbar-item">
                                Entry History
                            </a>
                            <!--connects nav bar item Past Results to the graph in main.py -->
                            <a href="{{ url_for('main.graph') }}" class="navbar-item">
                                Past Results
                            </a>
                             <!--connects nav bar item FAQ/Help to the helpuser in main.py -->
                            <a href="{{ url_for('main.helpuser') }}" class="navbar-item">
                                FAQ/Help
                            </a>
                            {% endif %}
                            <!-- Login will show if user is not logged in -->
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            <!--Logout will only show if user is logged in. -->
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">


        </div>
         <div class="container has-text-centered">
               {% block content %} {% endblock %}

            </div>
    </section>

</body>
                        <!-- This is the styles for the footer-->
<footer class="footer" style="background-color: #1f1f1f;">
  <div class="content has-text-centered">
    <p style="color: white;">
      <strong style="color: #6f6e6e">Audubon Miami Valley    P.O. Box 556    Oxford, OH 45056</strong>
    </p>
        <a href="/"><img src="https://images.squarespace-cdn.com/content/v1/5eac143be8d3a17221435a4e/1592961176949-BJFIEZXL9DGFDX0DD7AA/ke17ZwdGBToddI8pDm48kDcawB7fnUK20VkHBqGKX5RZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7a3IG1vtna7BEUjBtarIuotWAzQL2J2nULP0oV-Zc4JqSDvdOK0wFzDujIbKntzJ0w/small_logo_tr.png?format=300w"> </a>
  </div>
     <!-- Add font awesome icons -->
      <div class="content has-text-centered">
<a href="http://facebook.com/amvohio/" class="fa fa-facebook"></a>
<a href="https://twitter.com/audubonmv?lang=en" class="fa fa-twitter"></a>
      </div>
</footer>
</html>