		<!--calls base.html-->
{% extends 'base.html' %}

{% block content %}
        		<!--help section-->
<section class="section is-flex-mobile">
  <h2 class="subtitle is-flex-mobile">
                <h1 class="title is-flex-mobile">How To Utilize This Website</h1>
      <strong>Instructions: </strong>To add new entries that you have gathered for the blue bird population, click on the add new entries tab,
        and fill out the form. This will auto populate in the table. To edit the table, click the edit and delete buttons. This can only
        happen if/when you are logged in.
      <p><strong>Have a direct need or question? contact us at <a href="mailto:AudubonMV@gmail.com." >AudubonMV@gmail.com.</a></strong></p>
  </h2>

</section>

                		<!--Map and Faq section-->
<section class="section is-flex-mobile">
<h1 class="title is-flex-mobile">
   Need help finding the Houston Woods State Park?
</h1>
    <p>Hueston Woods State Park, College Corner, OH 45003</p>
            		<!--map-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.250614939338!2d-84.74810558470189!3d39.576501814232806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884017c0328096c1%3A0x19cd91a42811e661!2sHueston%20Woods%20State%20Park!5e0!3m2!1sen!2sus!4v1620346079553!5m2!1sen!2sus" width="600" height="450" style="border:0 is-flex-mobile" allowfullscreen="" loading="lazy"></iframe>
<h1 class="title is-flex-mobile">Local Birding Sites</h1>
    <div class="columns is-flex-mobile">
        <div class="column is-flex-mobile"><strong>HUESTON WOODS STATE PARK</strong>
Hueston Woods State Park, located in Butler and Preble counties, has nearly 3,000 acres of outdoor recreation, such as hiking, fishing, canoeing, and unique to this region -- fossil hunting. The park surrounds 625-acre Acton Lake, with campsites, cabins, and a resort lodge.</div>
        <div class="column is-flex-mobile"><strong>RIVERSIDE NATURAL AREA</strong>
Despite the interesting mix of diverse habitats, Riverside Natural Area isn’t very well known among local birders. The natural area is located along the Great Miami River in Hamilton, Ohio. Among the features certain to be attractive to birders are a lagoon formed from an old river channel, a small man-made wetland that backs up against the south side of the lagoon, and approximately 130 acres of prairie. There is a modest 10-acre prairie just off the parking lot, but on the south side of Riverside Natural Area you’ll find the large, 120-acre prairie.</div>
        <div class="column is-flex-mobile"><strong>THE OXBOW</strong>
Herons, ducks, shorebirds–if it likes water, you can find it at the Oxbow. Located in Lawrenceburg, Indiana, the best time of year for birding the Oxbow area is during the spring migration, which extends from February for ducks, through May for shorebirds. Before you bird the Oxbow area, check the level of the Ohio River. Flood stage at Cincinnati is 52 feet, but the Oxbow begins to flood at 30 feet.</div>
        <div class="column is-flex-mobile"><strong>FERNALD PRESERVE</strong>
Once a facility that processed nuclear-weapons materials, Fernald Preserve is now one of the area’s most popular sites for birding and other nature study. Located about 20 miles northwest of Cincinnati, it features trails throughout much of its 1,050 acres.</div>
</div>
</section>

{% endblock %}